<?php $this->load->view('pub/head.html'); ?>
<body class="homepage">
    <!-- 大屏欢迎页 -->
    <div id="header">
        <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="#" id="logo">众善为人人，人人为众善</a></h1>
                <hr />
                <span class="byline">众善网致力打造透明，高效，简洁的公益环境</span>
            </header>
            <footer>
                <a href="#banner" class="button circled scrolly">加入众善</a>
            </footer>
        </div>
        <!-- Nav -->
        <?php $this->load->view('pub/nav.html'); ?>
    </div>
    <hr />
    <?php $this->load->view('pub/carousel.html'); ?>
<?php $this->load->view('pub/foot.html'); ?>