<!-- Carousel -->
    <div class="carousel">
        <div class="reel">
            <!-- 使用foreach循环展示项目 -->
            <article>
                <a href="＃" class="image featured">
                    <img src="<?php echo base_url().'res/' ?>images/pic01.jpg" alt="" />
                </a>
                <header>
                    <h3><a href="#">授渔计划－让孩子回到校园</a></h3>
                </header>
                <p>10人捐助｜已捐助3000元</p>
                <p>结束日期：2014年9月23日</p>
            </article>
            <article>
                <a href="＃" class="image featured">
                    <img src="<?php echo base_url().'res/' ?>images/pic02.jpg" alt="" />
                </a>
                <header>
                    <h3><a href="#">授渔计划－让孩子回到校园</a></h3>
                </header>
                <p>10人捐助｜已捐助3000元</p>
                <p>结束日期：2014年9月23日</p>
            </article>
            <article>
                <a href="＃" class="image featured">
                    <img src="<?php echo base_url().'res/' ?>images/pic03.jpg" alt="" />
                </a>
                <header>
                    <h3><a href="#">授渔计划－让孩子回到校园</a></h3>
                </header>
                <p>10人捐助｜已捐助3000元</p>
                <p>结束日期：2014年9月23日</p>
            </article>

            <article>
                <a href="＃" class="image featured">
                    <img src="<?php echo base_url().'res/' ?>images/pic04.jpg" alt="" />
                </a>
                <header>
                    <h3><a href="#">授渔计划－让孩子回到校园</a></h3>
                </header>
                <p>10人捐助｜已捐助3000元</p>
                <p>结束日期：2014年9月23日</p>
            </article>

            <article>
                <a href="＃" class="image featured">
                    <img src="<?php echo base_url().'res/' ?>images/pic05.jpg" alt="" />
                </a>
                <header>
                    <h3><a href="#">授渔计划－让孩子回到校园</a></h3>
                </header>
                <p>10人捐助｜已捐助3000元</p>
                <p>结束日期：2014年9月23日</p>
            </article>

            <article>
                <a href="＃" class="image featured">
                    <img src="<?php echo base_url().'res/' ?>images/pic01.jpg" alt="" />
                </a>
                <header>
                    <h3><a href="#">授渔计划－让孩子回到校园</a></h3>
                </header>
                <p>10人捐助｜已捐助3000元</p>
                <p>结束日期：2014年9月23日</p>
            </article>

            <article>
                <a href="＃" class="image featured">
                    <img src="<?php echo base_url().'res/' ?>images/pic02.jpg" alt="" />
                </a>
                <header>
                    <h3><a href="#">授渔计划－让孩子回到校园</a></h3>
                </header>
                <p>10人捐助｜已捐助3000元</p>
                <p>结束日期：2014年9月23日</p>
            </article>

            <article>
                <a href="＃" class="image featured">
                    <img src="<?php echo base_url().'res/' ?>images/pic03.jpg" alt="" />
                </a>
                <header>
                    <h3><a href="#">授渔计划－让孩子回到校园</a></h3>
                </header>
                <p>10人捐助｜已捐助3000元</p>
                <p>结束日期：2014年9月23日</p>
            </article>

            <article>
                <a href="＃" class="image featured">
                    <img src="<?php echo base_url().'res/' ?>images/pic04.jpg" alt="" />
                </a>
                <header>
                    <h3><a href="#">授渔计划－让孩子回到校园</a></h3>
                </header>
                <p>10人捐助｜已捐助3000元</p>
                <p>结束日期：2014年9月23日</p>
            </article>

            <article>
                <a href="＃" class="image featured">
                    <img src="<?php echo base_url().'res/' ?>images/pic05.jpg" alt="" />
                </a>
                <header>
                    <h3><a href="#">授渔计划－让孩子回到校园</a></h3>
                </header>
                <p>10人捐助｜已捐助3000元</p>
                <p>结束日期：2014年9月23日</p>
            </article>

        </div>
    </div>