<!-- Footer -->
<div id="footer">
    <div class="container">
        <!--                    <hr />-->
        <div class="row">
            <div class="12u">
                <!-- Contact -->
                <section class="contact">
                    <header>
                        <h3>友情链接</h3>
                    </header>
                    <p><a href="#">免费午餐｜众善公益圈｜宝贝回家｜新浪网｜中国福利基金会｜授渔计划</a>
                    </p>
                    <ul class="icons">
                        <li>
                            <a href="#" class="icon icon-twitter">
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon icon-facebook">
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon icon-google-plus">
                                <span>Google+</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon icon-pinterest">
                                <span>Pinterest</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon icon-dribbble">
                                <span>Dribbble</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon icon-linkedin">
                                <span>Linkedin</span>
                            </a>
                        </li>
                    </ul>
                </section>

                <!-- Copyright -->
                <div class="copyright">
                    <ul class="menu">
                        <li>&copy; 众善科技. 版权所有</li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</div>

</body>

</html>